body {

}

a {

}

.invisible {
	display: none;
}

#enJeu p {
	display: inline;
}

.card {
	margin: 10px;
}

p {
	margin: 10px;
}

#mains .card.invalide {
	cursor: not-allowed;
}

#mains .card.valide {
	cursor:pointer;
}

#mains .card.valide:hover {
	border-style: solid; 
}